# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
 ExportedObj/
 *.svd
 *.userprefs
 *.csproj
 *.pidb
 *.suo
 *.sln
 *.user
 *.unityproj
 *.booproj
  
# ============ #
# OS generated #
# ============ #
  *.exe
  *_Data/
  *~
  *.swp
  *.swo
